*{
    margin:0px;
    padding:0px ;
}
body{
    text-align: center;
}
.title{
    color: blue;
    font-size:x-large;
  font-weight: bolder;
}
.container{
    background-color: #84d754;
    margin: 1rem;
    grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
    border-radius: 0.5rem;
    display: grid;
    justify-content: center;
    overflow:hidden ;
    box-shadow: 3px 3px 10px 0px rgb(22, 11, 11);
}
.card{
    margin: 10px;
    background:linear-gradient(to right,rgb(205, 199, 168),hsl(60, 11%, 32%)) ;   
    width: 15rem;
    padding: 0px;
}
.card-img{
    width: 15rem;
    height: 15rem;
   
}
#btn{
    align-items: center;
  border: none;
  color: bisque;
  background-color: blue;
  padding: 7px;
  border-radius: 5px;
  cursor:pointer;
  font-weight: bold;
  font-size:medium;
  margin: 1rem;
}
#btn:hover{
    background-color: rgb(219, 88, 202);
}





